<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!--Launches one Robot-->

<!-- Select which Robot to Spawn [mir/robotino] -->
  <!--<arg name="robot" default="mir" />-->
  <arg name="robot" default="robotino" />


  <!-- No namespace here as we will share this description. Access with slash at the beginning -->
  <param name="robot_description_robotino"
    command="$(find xacro)/xacro.py $(find robotino_description)/urdf/robotino.urdf.xacro" />


  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find mybot_gazebo)/launch/$(arg robot_type2)/robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>


</launch>
