<launch>
        <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->
	<!-- <node pkg="mir_nav2d" type="multiglobalconfigloader.py" name="multiglobalconfigloader" output="screen"/> -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
                <rosparam file="$(find multirobot_nav)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
                <rosparam file="$(find multirobot_nav)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
                <rosparam file="$(find multirobot_nav)/cfg/local_costmap_params.yaml" command="load" />
                <rosparam file="$(find multirobot_nav)/cfg/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find multirobot_nav)/cfg/move_base_multiplanner_params.yaml" command="load" />
        </node>
</launch>

